.city {
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
    margin: 0;
}

div {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
